<a href="https://colab.research.google.com/github/SulivanNascimento/AulasDePython/blob/main/Aula4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
combus_df = pd.read_excel("/content/ca-2021-02.xlsx")

In [3]:
display(combus_df.loc())

In [5]:
display(combus_df.head(
))

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA,2021-11-01,6.799,NaN,R$ / litro,VIBRA ENERGIA
1,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,ETANOL,2021-11-01,5.299,NaN,R$ / litro,VIBRA ENERGIA
2,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL,2021-11-01,5.549,NaN,R$ / litro,VIBRA ENERGIA
3,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,GASOLINA ADITIVADA,2021-11-01,6.899,NaN,R$ / litro,VIBRA ENERGIA
4,NE,AL,ARAPIRACA,POSTO ARAPIRACA LTDA,12.451.076/0004-65,RODOVIA AL 220,105,KM 68,CANAFISTULA,57302-605,DIESEL S10,2021-11-01,5.649,NaN,R$ / litro,VIBRA ENERGIA

In [7]:
display(combus_df[['Regiao - Sigla', 'Municipio', 'Valor de Venda']])

       Regiao - Sigla  Municipio  Valor de Venda
0                  NE  ARAPIRACA           6.799
1                  NE  ARAPIRACA           5.299
2                  NE  ARAPIRACA           5.549
3                  NE  ARAPIRACA           6.899
4                  NE  ARAPIRACA           5.649
...               ...        ...             ...
168404             NE     JEQUIE           5.859
168405             SE  ITUIUTABA           6.580
168406             SE  ITUIUTABA           4.740
168407             SE  ITUIUTABA           5.448
168408             SE  ITUIUTABA           6.580

[168409 rows x 3 columns]

In [10]:
import numpy as np

mean_df = combus_df['Valor de Venda'].mean()
combus_df['Status - Valor de Venda'] = np.where(combus_df['Valor de Venda'] > mean_df, 'Caro', 'Barato' )
display(combus_df[['Revenda', 'Valor de Venda', 'Status - Valor de Venda']])

,Revenda,Valor de Venda,Status - Valor de Venda
0,POSTO ARAPIRACA LTDA,6.799,Caro
1,POSTO ARAPIRACA LTDA,5.299,Barato
2,POSTO ARAPIRACA LTDA,5.549,Barato
3,POSTO ARAPIRACA LTDA,6.899,Caro
4,POSTO ARAPIRACA LTDA,5.649,Barato
...,...,...,...
168404,COMERCIAL DE COMBUSTIVEL CACHOEIRINHA LTDA,5.859,Barato
168405,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro
168406,ABC DISTRIBUICAO DE PETROLEO LTDA,4.740,Barato
168407,ABC DISTRIBUICAO DE PETROLEO LTDA,5.448,Barato
168408,ABC DISTRIBUICAO DE PETROLEO LTDA,6.580,Caro